@model List<CinemaApp.Domain.Domain_Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="m-3">
        <a class="btn btn-success" asp-controller="Tickets" asp-action="Create">Add new Ticket</a>
    </div>


    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        if (i % 3 == 0)
        {
            @:<div class="row">
            }
            <div class="col-md-3 m-4">
                <div class="card" style="width: 18rem; height: 55rem;">
                    <img class="card-img-top" src="@item.MovieImage" style="height: 50%" alt="Image for movie!">

                    <div class="card-body">
                        <h3 class="card-title">@item.MovieName</h3>
                        <h5 class="card-text">@item.MovieGenre</h5>
                        <p class="card-text">@item.MovieDescription</p>
                        <p class="card-text">Start: @item.StartDate</p>
                        <p class="card-text">End: @item.EndDate</p>

                        <h6>Price: @item.TicketPrice denars</h6>
                    </div>

                    <div class="card-footer">
                        <a href="/Tickets/AddToShoppingCart?ticketId=@item.Id">Add To Card</a>
                        <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>

            if (i % 3 == 2)
            {
            @:</div>
        }

    }
    </div>
